pre {
    border: 1px solid #999;
    padding: 1rem;
    background: #eee;
  }
  
  body {
    padding: 1rem;
  }
  
  pre span {
    display: inline-block;
    transform: scaleX(-1);
  }
  
  #race {
    tab-size: 0;
  }